doctype html
html(ng-app="commanduApp")
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    nav.light-blue.lighten-1(role='navigation')
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') Logo
        ul.right.hide-on-med-and-down
          li
            a(href='/account/register') Register
        ul#nav-mobile.side-nav
          li
            a(href='/account/register') Register
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
    #index-banner.section.no-pad-bot
      .container
        block content
      .section
    footer.page-footer.orange
      .container
      .footer-copyright
        .container
          | Made by
          a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
    script(src='/js/templates.js')
    script(src='/js/libraries.js')
    script(src='/js/app.js')
    script require('application').init();